@media (min-width: 768px) {
  .container {
    width: 100% !important;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100% !important;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100% !important;
  }
}

.container, .container-fluid {
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto;
    margin-left: auto;
}

.full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
}

.half-input {
	float: left;
	width: 50%;
}