<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>Basic Bootstrap Template</title>      
    <link href="css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <header class="navbar navbar-default" role="navigation" style="background-color: #0091d2;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            <a class="navbar-brand" href="#"><img src="images/Logo-Sleda-GPS.png" /></a>
            <div class="pull-left">
                <h4 style="color: #ffffff; margin-top: 15px; margin-left: 15px;" id="title" class="hidden-sm hidden-md hidden-lg">Fleet management</h4>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#"><span></span>Active link</a></li>
            <li><a href="#">Link</a></li>
            <!--<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Действие</a></li>
                <li><a href="#">Другое действие</a></li>
                <li><a href="#">Что-то еще</a></li>
                <li class="divider"></li>
                <li><a href="#">Отдельная ссылка</a></li>
                <li class="divider"></li>
                <li><a href="#">Еще одна отдельная ссылка</a></li>
              </ul>
            </li>-->
          </ul>
          <!--<form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Отправить</button>
          </form>-->
          <ul class="nav navbar-nav navbar-right">
            <li><h4 style="color: #ffffff; margin-top: 15px; margin-right: 25px;" id="title" class="hidden-xs">Fleet management</h4></li>
            <li class="dropdown hidden-xs">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Show/hide<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a class="btn" data-role="left" data-event="columns">Show/hide left</a></li>
                <li><a class="btn" data-role="right" data-event="columns">Show/hide right</a></li>
                <li><a class="btn" data-role="details" data-event="columns">Show/hide details</a></li>
                <!-- <li class="divider"></li>
                <li><a href="#">Отдельная ссылка</a></li>-->
              </ul>
            </li>
            <li>
                <a data-toggle="tooltip" data-placement="bottom" data-original-title="Избери език">EN</a>
                <div style="display: none;" id="current-language" data-original-title="Select kanguage" data-placement="bottom">BG</div>
            </li>
            <li>
                <a href="https://www.sleda-gps.eu/telenor/help/index.html" target="_blank" class="btn-help" data-original-title="Помощ" data-placement="bottom">
                    <span class="glyphicon glyphicon-question-sign"></span> Help
                </a>
	        </li>
            <li class="active">
                <a data-original-title="Logout" data-placement="bottom">
                    <span class="glyphicon glyphicon-log-out"></span> Logout
                </a>
	        </li>
          </ul>
        </div><!-- /.navbar-collapse -->
    </header>

    <div style="background: #c2c2c2; height: 88.33vh;" class="container-fluid">
        <!-- modal login -->
        <div class="modal fade" id="myLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
                        <h4 class="modal-title" id="myModalLabel">Log in</h4>
                    </div> <!-- /.modal-header -->

                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="uLogin" placeholder="Login">
                                    <label for="uLogin" class="input-group-addon glyphicon glyphicon-user"></label>
                                </div>
                            </div> <!-- /.form-group -->

                            <div class="form-group">
                                <div class="input-group">
                                    <input type="password" class="form-control" id="uPassword" placeholder="Password">
                                    <label for="uPassword" class="input-group-addon glyphicon glyphicon-lock"></label>
                                </div> <!-- /.input-group -->
                            </div> <!-- /.form-group -->

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div> <!-- /.checkbox -->
                        </form>

                    </div> <!-- /.modal-body -->

                    <div class="modal-footer">
                        <button class="form-control btn btn-primary">Ok</button>

                        <div class="progress">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="100" style="width: 0%;">
                                <span class="sr-only">progress</span>
                            </div>
                        </div>
                    </div> <!-- /.modal-footer -->

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- modal login -->
        
        <!-- modal -->
            <div id="myModal" class="modal fade">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">×</button>
                            <h4 class="modal-title">Заголовок окна</h4>
                        </div>
                        <div class="modal-body">Текст уведомления</div>
                        <div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button></div>
                    </div>
                </div>
            </div>        
        <!-- modal -->
    
        <div style="background: #00ffff; height: 25vh;" class="row">
            <div id="left" style="background: #c1c1c1; border: 0px solid;" class="hidden-xs hidden-sm hidden-md hidden-lg">left</div>
            <div id="center" style="background: #c8c8c8; border: 0px solid;" class="hidden-xs col-sm-8 col-md-8 col-lg-9">center</div>
            <div id="right" style="background: #e4e4e4; border: 1px solid #bbb;" class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                <button class="btn btn-info btn-lg" type="button" data-toggle="modal" data-target="#myModal">Показать всплывающее окно</button>
                <div id="rightlist" class="row hidden-xs">
                    <div class="col-xs-12">this is a list</div>
                </div>
                <div id="rightmenu" class="row hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-12">this is a xs menu</div>
                </div>
            </div>
            <div class="clearfix visible-md-block"></div>
            <div id="details" style="background: #0091d2; border: 1px solid #bbb;" class="hidden-xs hidden-sm hidden-md hidden-lg">
                <div id="detailslist" class="row">
                    <div class="col-xs-12 col-md-4" style="background-color: #ffffff; border: 10px solid #0000ff; padding: 10px; height: 14.33vh;">details 1</div>
                    <div class="col-xs-12 col-md-4" style="background-color: #ffffff; border: 10px solid #0000ff; padding: 10px; height: 14.33vh;">details 2</div>
                    <div class="col-xs-12 col-md-4" style="background-color: #ffffff; border: 10px solid #0000ff; padding: 10px; height: 14.33vh;">details 3</div>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <div style="background: #0091d2; color: #ffffff;" class="col-xs-12"> © footer 2016</div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
    <script src="js/sc/constants.js?v=v1.0"></script>
    <script src="js/sc/controllers/layoutController.js?v=v1.0"></script>
    <script src="js/sc/loader.js?v=v1.0"></script>
    
<!--    <script>
        $('.navbar-collapse a').click('li', function() {
        var navbar_toggle = $('.navbar-toggle');
        if (navbar_toggle.is(':visible')) {
            navbar_toggle.trigger('click');
        }});
    </script>-->
    
    <script>
        $.fn.removeClassRegex = function(regex) {
            return $(this).removeClass(function(index, classes) {
                return classes.split(/\s+/).filter(function(c) {
                return regex.test(c);
                }).join(' ');
            });
        };
        
        $(function () {
        
            $('.modal-footer button').click(function(){
                var button = $(this);

                if ( button.attr("data-dismiss") != "modal" ){
                    var inputs = $('form input');
                    var title = $('.modal-title');
                    var progress = $('.progress');
                    var progressBar = $('.progress-bar');

                    inputs.attr("disabled", "disabled");

                    button.hide();

                    progress.show();

                    progressBar.animate({width : "100%"}, 100);

                    progress.delay(1000)
                            .fadeOut(600);

                    button.text("Close")
                            .removeClass("btn-primary")
                            .addClass("btn-success")
                            .blur()
                            .delay(1600)
                            .fadeIn(function(){
                                title.text("Log in is successful");
                                button.attr("data-dismiss", "modal");
                            });
                }
            });

            $('#myLogin').on('hidden.bs.modal', function (e) {
                var inputs = $('form input');
                var title = $('.modal-title');
                var progressBar = $('.progress-bar');
                var button = $('.modal-footer button');

                inputs.removeAttr("disabled");

                title.text("Log in");

                progressBar.css({ "width" : "0%" });

                button.removeClass("btn-success")
                        .addClass("btn-primary")
                        .text("Ok")
                        .removeAttr("data-dismiss");
                        
            });
            
            $('#myLogin').modal();
        
            $('.panel-title').click(function() {
                $(this)
                    // Find parent with the class that starts with "col-md"
                    // Change class to "col-md-3"
                    .closest('[class^="col-md"]')
                        .toggleClass('col-md-2 col-md-3')
                    // Find siblings of parent with similar class criteria
                    // - if all siblings are the same, you can use ".siblings()"
                    // Change class to "col-md-2"
                    .siblings('[class^="col-md"]')
                        .removeClass('col-md-3')
                        .addClass('col-md-2');
            });       
        });
    </script>
    
    <script>
        SC.loader.initLayout();
    </script>
</body>
</html>