<div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
        <div class="panel panel-info">
            <div class="panel-heading">
                <strong>Signin</strong>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" ng-submit="signin()">
                    <div class="form-group">
                        <label for="user" class="col-sm-2 control-label">User</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="user" placeholder="user" ng-model="user">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>